# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [3]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,punta arenas,-53.1500,-70.9167,62.62,54,0,23.02,CL,1668533358
1,1,champerico,14.3000,-91.9167,91.94,72,11,4.03,GT,1668533399
2,2,carnarvon,-24.8667,113.6333,71.89,67,0,14.34,AU,1668533400
3,3,santiago del estero,-27.7951,-64.2615,93.31,21,30,14.56,AR,1668533400
4,4,kodiak,57.7900,-152.4072,40.51,75,40,5.75,US,1668533249

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heatMap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heatMap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Narrow down cities that fit criteria and drop any results with null values
select_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) 
                                    & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
select_city_df

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = select_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country      Lat       Lng  Humidity Hotel Name
45            kapaa      US  22.0752 -159.3190        84
51             hilo      US  19.7297 -155.0900        83
63            banda      IN  25.4833   80.3333        52
81    makakilo city      US  21.3469 -158.0858        81
152         kahului      US  20.8947 -156.4700        60
197             gat      IL  31.6100   34.7642       100
211          laguna      US  38.4210 -121.4238        79
240     tikaitnagar      IN  26.9500   81.5833        59
265     san quintin      MX  30.4833 -115.9500        74
340   santa rosalia      MX  27.3167 -112.2833        56
363          narwar      IN  25.6500   77.9000        55
375    port hedland      AU -20.3167  118.5667        73
381       roebourne      AU -20.7833  117.1333        65
391  saint-francois      FR  46.4154    3.9054        57
409       capoterra      IT  39.1763    8.9718        71
421          stolac      BA  43.0844   17.9575        68
516  guerrero negro      MX  27.9769 -114.0611        68

In [ ]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    n_address = requests.get(base_url, params=params)
    
    # convert to json
    n_address = n_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = n_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Starting hotel search
kapaa - nearest hotel: Pono Kai Resort
hilo - nearest hotel: Dolphin Bay Hotel
banda - nearest hotel: #acnindiafy21
makakilo city - nearest hotel: Embassy Suites by Hilton Oahu Kapolei
kahului - nearest hotel: Maui Seaside Hotel
gat - nearest hotel: No hotel found
laguna - nearest hotel: Holiday Inn Express & Suites
tikaitnagar - nearest hotel: No hotel found
san quintin - nearest hotel: Jardines Hotel
santa rosalia - nearest hotel: Hotel del Real
narwar - nearest hotel: No hotel found
port hedland - nearest hotel: The Esplanade Hotel
roebourne - nearest hotel: No hotel found
saint-francois - nearest hotel: Chez Lily
capoterra - nearest hotel: Rosa Hotel
stolac - nearest hotel: Bregava
guerrero negro - nearest hotel: Plaza sal paraiso

,City,Country,Lat,Lng,Humidity,Hotel Name
45,kapaa,US,22.0752,-159.3190,84,Pono Kai Resort
51,hilo,US,19.7297,-155.0900,83,Dolphin Bay Hotel
63,banda,IN,25.4833,80.3333,52,#acnindiafy21
81,makakilo city,US,21.3469,-158.0858,81,Embassy Suites by Hilton Oahu Kapolei
152,kahului,US,20.8947,-156.4700,60,Maui Seaside Hotel
197,gat,IL,31.6100,34.7642,100,No hotel found
211,laguna,US,38.4210,-121.4238,79,Holiday Inn Express & Suites
240,tikaitnagar,IN,26.9500,81.5833,59,No hotel found
265,san quintin,MX,30.4833,-115.9500,74,Jardines Hotel
340,santa rosalia,MX,27.3167,-112.2833,56,Hotel del Real
363,narwar,IN,25.6500,77.9000,55,No hotel found
375,port hedland,AU,-20.3167,118.5667,73,The Esplanade Hotel
381,roebourne,AU,-20.7833,117.1333,65,No hotel found
391,saint-francois,FR,46.4154,3.9054,57,Chez Lily
409,capoterra,IT,39.1763,8.9718,71,Rosa Hotel
421,stolac,BA,43.0844,17.9575,68,Bregava
516,guerrero negro,MX,27.9769,-114.0611,68,Plaza sal paraiso

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
mapMarker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(mapMarker_layer)

# Display figure
fig